<div class="control-group">
    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
    <div class="controls mock-controls">
        {% if field.id_for_label == 'id_email' %} <div class="input-append"> {% endif %}
            {{field}}
            {% if field.html_name == "email" %}
                <span class="add-on">@jacobs-university.de</span>
            {% endif %}
        {% if field.id_for_label == 'id_email' %} </div> {% endif %}
        
        <span class="required-label">
            {% if field.field.required %}*{% endif %}
        </span>
        {% for error in field.errors %} 
            <span class="alert alert-error">
              <span class="formerror"> {{error}} </span>
            </span>
        {% endfor %}
    </div>
</div>