<div class="form-non-field-errors">
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
          <span class="formerror"> {{error}} </span>
        </div>
    {% endfor %}
</div>

<form role="form" enctype="multipart/form-data" method="post" action="{{ form_submit }}" class="form-horizontal mock-form">

    {% for field in form.visible_fields %}
        {% include 'types/field.html' %}
    {% endfor %}
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
    {% csrf_token %}
    <div class="control-group">
        <div class="controls mock-controls">
            <button type="submit" class="btn mock-long-btn" value="{{ form_button }}"> {{ form_button }} </button>
        </div>
    </div>
</form>