{% block mockerinfo %}
    <div class="mocker"> 
        <div class="nameattr row-fluid">
            <span class="attr span3"> Interviewer: </span>
            <span class="val span9"> {{ item.mocker.username }} ( {{ item.mocker.email }} ) </span>
        </div>
        {% block mockerdetails %}
            {% if item.mocker.skypeId %}
                <div class="skypeidattr row-fluid">
                    <span class="attr span3"> Skype Id: </span>
                    <span class="val span9"> {{ item.mocker.skypeId }} </span>
                </div>
            {% endif %}
            <div class="detailsattr row-fluid">
                <div class="attr span3"> Description: </div>
                <div class="val span9"> {{ item.mocker.description }} </div>
            </div>
        {% endblock mockerdetails %}
    </div>
{% endblock mockerinfo %}

{% block mockeeinfo %}
    {% if item.mockee %}
        <div class="mockee">
                <div class="nameattr row-fluid">
                    <span class="attr span3"> Interviewee: </span>
                    <span class="val span9"> {{ item.mockee.username }} ( {{ item.mockee.email }} ) </span>
                </div>
                {% block mockeedetails %}
                    {% if item.mockee.skypeId %}
                        <div class="skypeidattr row-fluid">
                            <span class="attr span3"> Skype Id: </span>
                            <span class="val span9"> {{ item.mockee.skypeId }} </span>
                        </div>
                    {% endif %}
                    {% if item.mockee.description %}
                        <div class="detailsattr row-fluid">
                            <div class="attr span3"> Description: </div>
                            <div class="val span9"> {{ item.mockee.description }} </div>
                        </div>
                    {% endif %}
                {% endblock mockeedetails %}
        </div>
    {% else %}
        <div class="mockee row-fluid">
            <span class="attr span3"> Interviewee: </span>
            <span class="val span9"> Not assigned yet </span>
        </div>
    {% endif %}
{% endblock mockeeinfo %}

{% block starttime %}
    <div class="starttime row-fluid"> 
        <span class="attr span3"> Time Start: </span>
        <span class="val span9"> {{ item.starttime }} </span>
    </div>
{% endblock starttime %}

{% block endtime %}
    <div class="endtime row-fluid"> 
        <span class="attr span3"> Time End: </span>
        <span class="val span9"> {{ item.endtime }} </span>
    </div>
{% endblock endtime %}

{% block description %}
    {% if item.description %}
        <div class="description row-fluid">
            <span class="attr span3"> Mock Details: </span>
            <span class="val span9"> {{ item.description }} </span>
        </div>
    {% endif %}
{% endblock description %}

{% block price %}
    {% if item.price %}
        <div class="price row-fluid">
            <span class="attr span3"> Interview Price: </span>
            <span class="val span9"> {{ item.price }} </span>
        </div>
    {% endif %}
{% endblock price %}

{% block endbutton %}
    {% if not no_button %}
        <form  method="get" action="/delete/{{ item.id }}">
            <button class="btn btn-mini btn-danger deleteitem-btn" type="submit" value="delete"> 
                Delete interview
            </button>
        </form>
    {% endif %}
{% endblock %}