{% extends "pages/loggedin.html" %}

{% block content %}
    {% if form %}
        {% if success %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endif %}

        <div class="createslot-form">
            {% include 'types/form.html' %}
        </div>
    {% else %}
        <div class="alert">
            Sorry! You cannot create mock interview items. If you want to give interviews please change your settings from the Profile page.
        </div>
    {% endif %}
{% endblock content %}