{% extends "pages/loggedin.html" %}

{% block content %}
    <div class="nameattr row-fluid">
        <span class="attr span3"> Name: </span>
        <span class="val span9"> {{ user.username }} </span>
    </div>
    <div class="emailattr row-fluid">
        <span class="attr span3"> Email: </span>
        <span class="val span9"> {{ user.email }} </span>
    </div>
    {% if user.skypeId %}
        <div class="skypeidattr row-fluid">
            <span class="attr span3"> Skype Id: </span>
            <span class="val span9"> {{ user.skypeId }} </span>
        </div>
    {% endif %}
    {% if user.skypeId %}
    <div class="detailsattr row-fluid">
        <div class="attr span3"> Description: </div>
        <div class="val span9"> {{ user.description }} </div>
    </div>
    {% endif %}
    <div class="mockerattr row-fluid">
        <span class="attr span3"> Giving interviews: </span>
        <span class="val span9"> {% if user.isMocker %} Yes {% else %} No {% endif %}</span>
    </div>

    <button class="btn btn-primary moreinfo-btn" type="button" value="/profile-change"> 
        Change profile details
    </button>
{% endblock %}