
/* 
    Forms Related
*/
.control-group .controls #id_email {
    max-width: 135px;
}

.mock-form {
	max-width: 480px;
	margin: 0 auto;
}

.mock-controls {
	width: 66%;
}

.mock-text {
	width: 90%;
}

.mock-long-btn {
	width: 95%;
}

/*
    Footer related
 */
.lasthr {
    margin-bottom: 0px;
}
.footer {
    font-size: 10px;
    float: right;
}
.footeritem {
    margin-left: 20px;
}

/*
	all
*/

.mock-content {
	max-width: 480px;
	margin: 0 auto;
}